main{
    .carousel{
        color: gray;
        height: 500px;
        background-image: url("../../public/banner.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}